<div class="container">
    <div class="row" style="background-color: rgba(0, 128, 0, 0.51)">
        <div class="text-left col-xs-4">
            <button type="button" class="btn btn-warning btn-lg"><b>2</b> (1)</button>
            <button type="button" class="btn btn-warning btn-lg"><b>3</b> (1)</button>
            <button type="button" class="btn btn-warning btn-lg"><b>1</b> (1)</button>
        </div>

        <div class="text-center col-xs-4">
            <div>
                <h2><b>0 - Machin</b></h2> <button type="button" class="btn btn-danger btn-lg">Faute (1)</button>
            </div>
        </div>

        <div class="text-right col-xs-4">
            <button type="button" class="btn btn-success btn-lg">(1) <b>1</b></button>
            <button type="button" class="btn btn-success btn-lg">(1) <b>3</b></button>
            <button type="button" class="btn btn-success btn-lg">(1) <b>2</b></button>
        </div>
    </div>
    <hr/>
    <div class="row" style="background-color: rgba(0, 0, 255, 0.51);">
        <div class="text-left col-xs-4">
            <button type="button" class="btn btn-warning btn-lg"><b>2</b> (1)</button>
            <button type="button" class="btn btn-warning btn-lg"><b>3</b> (1)</button>
            <button type="button" class="btn btn-warning btn-lg"><b>1</b> (1)</button>
        </div>

        <div class="text-center col-xs-4">
            <div>
                <button type="button" class="btn btn-danger btn-lg">Faute (1)</button>
                <h2><b>Machin - 0</b></h2>
            </div>
        </div>

        <div class="text-right col-xs-4">
            <button type="button" class="btn btn-success btn-lg">(1) <b>1</b></button>
            <button type="button" class="btn btn-success btn-lg">(1) <b>3</b></button>
            <button type="button" class="btn btn-success btn-lg">(1) <b>2</b></button>
        </div>
    </div>
</div>