<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule resources/api/rest/ /NBA/server/vendor/happykiller/oda/resources/api/rest/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule api/rest/ /NBA/server/api/rest/index.php [QSA,L]

</IfModule>